#inputSelection {
    color: black;
    padding: 20px;
    border-radius: 0px;
    align-content: center;
  }

  div {
    background-color: aliceblue;
    border-radius: 50px;
  }

  body {
    background-color: lightsteelblue;
    padding: 20px;
    color: black;
    align-content: center;
    text-align: center;
  }

  h1 {
    padding: 20px;
    color: black;
    align-content: center;
    text-align: center;
  }

  p {
    color: black;
    padding: 20px;
    align-content: center;
    text-align: center;
  }
  